
{% extends 'base.html' %}

{% block content %}

<!-- Diagnosis page-->
<section class="diagnosis-section text-center" id="about">
  <div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-center">

      <h2 class="text-white mb-5">Select your symptoms:</h2>

      <form class="symptoms-form mx-5 justify-content-center" name="search" action="/diagnosis/result/" method="post">
        {% csrf_token %}
        {% if symptoms %}
        {% for symptom in symptoms %}
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="form-check form-switch pe-0 ps-0" style="display: inline-block;">
              <input
                class="form-check-input col-4"
                type="checkbox"
                id="flexSwitchCheck{{ symptom.id }}"
                value={{ symptom.id }}
                name="symp{{ symptom.id }}"
                style="display: inline-flexbox;"
              />
              <label
                class="form-check-label text-white col-8"
                for="flexSwitchCheck{{ symptom.id }}" style="width: 300px; display: inline-flexbox; float: right;"
                >{{ symptom.name }}</label>
              
            </div>
          </div>
          <div class="col-2"></div>
        </div>
        {% endfor %}
        {% endif %}


        <button type="submit" class="btn btn-info mt-5 mb-5">
          Diagnosis
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}